body{
	background: black;
	color:white;
}

a{
	color: grey;
	text-decoration: none;
}

a:hover{
	color: black;
	background: white;
}

.greenlink:hover{
	color: green;
	background: grey;
}

h1{
	font-family: "Times new roman" serif;
	font-size: 100pt;
}

.indent{
	margin-left: 10pt;

}

.gap_below{
	margin-bottom: 25px;
}

